@import "./base";
@import "./variables";

.container {
  width: 80%;
  height: 900px;
  min-width: 450px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 65%;
  left: 50%;
  padding: 30px 40px;
  .newTask {
    position: relative;
    background-color: $newTask;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    p {
      padding: 2px;
      color: red;
    }
    input {
      @extend %input-shared;
    }
    input:focus {
      outline: none;
      border-color: $borderColor;
    }
    button {
      position: relative;
      margin: 15px;
      width: 20%;
      height: 45px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 16px;
      @extend %button-shared;
      background-color: $borderColor;
    }
  }
  .tasks {
    font-family: 'Poppins', sans-serif;
    background-color: $newTask;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    position: relative;
    .searchTask {
      input {
        @extend %input-shared;
        margin-left: 10px;
      }
      input:focus {
        outline: none;
        border-color: $primary-color;
      }
    }
    .task {
      display: grid;
      grid-template-columns: 83.667% 22.334%;
      width: 100%;
      background-color: $newTask;
      padding: 15px 18px;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px solid $inputBorder;
      font-size: 14px;     
      cursor: pointer;
      button {
        @extend %button-shared;
        background-color: $primary-color;
        height: 100%;
        width: 35px;
        margin: 5px;
        padding: 5px;
      }
    }
  }
  .paginationBttns {
    width: 80%;
    height: 30px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    color: $primary-color;
    cursor: pointer;
  }

  .paginationBttns a:hover {
    color: $newTask;
    background-color: $primary-color;
  }

  .paginationActive a {
    color: $newTask;
    background-color: $primary-color;
  }

  .paginationDisabled a {
    color: #3e3d3d;
    background-color: $button;
  }
}